.links{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    place-items: center;
}

button{
    background: #ddd;
    width: 70%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

button a{
    color: var(--color-black);
}