.links{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    place-items: center;
}

button.link_btn{
    background: #ddd;
    width: 70%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

button.link_btn a{
    color: var(--color-black);
}

.links .social_icon a img.slack{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}

.links .social_icon{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}