header{
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_icon{
    padding: 5rem 30rem 0 0;
    font-size: 1rem;
    font-weight: 700;
    color: gray;
    display: flex;
    align-self: flex-end;
}

.profile h2{
    font-size: 3rem;
    margin-top: 0.5rem;
}