@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #f5f5f5;
}

body{
    background: var(--color-gray);
    font-family: 'Poppins', sans-serif;
}

.card{
    width: 94vw;
    height: 98vh;
    background: var(--color-gray);
    margin: 1rem auto;
    box-shadow: 0.8rem 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}